<!-- Portfolio Grid Section -->
<section id="agenda" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <h3 class="section-subheading text-muted">Três semanas de muito conteúdo para você!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="service-heading">Semana 1 | 20/04 - 23/04</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19:30</td>
                            <td>Walter Coan</td>
                            <td>Sara Barbosa</td>
                            <td>Angelo Belchior</td>
                            <td>Mario Trentim</td>
                        </tr>
                        <tr>
                            <td>20:30</td>
                            <td>Gustavo Bigardi</td>
                            <td>Emmanuel Brandão</td>
                            <td>Rafael Mendonça</td>
                            <td>Bruno Brito</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="service-heading">Temas</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Palestrante</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gustavo Bigardi</td>
                            <td>Aplicações web modernas utilizando C# com Blazor WASM</td>
                        </tr>
                        <tr>
                            <td>Walter Coan</td>
                            <td>Novidades sobre a plataforma de segurança para IoT - Azure Sphere</td>
                        </tr>
                        <tr>
                            <td>Sara Barbosa</td>
                            <td>Keep calm and share with Microsoft 365</td>
                        </tr>
                        <tr>
                            <td>Emmanuel Brandão</td>
                            <td>Práticas para aplicar segurança em DevOps</td>
                        </tr>
                        <tr>
                            <td>Angelo Belchior</td>
                            <td>Criando um sistema de recomendação de produtos com ML.net</td>
                        </tr>
                        <tr>
                            <td>Rafael Mendonça</td>
                            <td>Power BI Embedded - Inserindo seus relatórios numa aplicação WEB</td>
                        </tr>
                        <tr>
                            <td>Mario Trentim</td>
                            <td>Teamwork Architecture - Boas Práticas para Adoção do Microsoft Teams</td>
                        </tr>
                        <tr>
                            <td>Bruno Brito</td>
                            <td>IdentityServer4 - Um ambiente seguro para suas api's com OAuth 2.0</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <h2><a id="user-content-semana-2--2704---3004" class="anchor" aria-hidden="true" href="#semana-2--2704---3004"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Semana 2 | 27/04 - 30/04</h2>
                <h3><a id="user-content-agenda-1" class="anchor" aria-hidden="true" href="#agenda-1"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Agenda</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19:30</td>
                            <td>Luis Beltran</td>
                            <td>Alessandro Trovato</td>
                            <td>Alexandro Prado</td>
                            <td>Daniel Donda</td>
                        </tr>
                        <tr>
                            <td>20:30</td>
                            <td>Rodrigo Crespi</td>
                            <td>Jefferson Castilho</td>
                            <td>Carlos dos Santos</td>
                            <td>Idevar Junior</td>
                        </tr>
                    </tbody>
                </table>
                <h3><a id="user-content-temas-1" class="anchor" aria-hidden="true" href="#temas-1"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Temas</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Palestrante</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luis Beltran</td>
                            <td>Enriquecimiento con IA en Azure Cognitive Search</td>
                        </tr>
                        <tr>
                            <td>Rodrigo Crespi</td>
                            <td>Conteinerizando seu SQL Server</td>
                        </tr>
                        <tr>
                            <td>Alessandro Trovato</td>
                            <td>Matrizes dinâmicas, novas funções e seus equivalentes nas funções nativas</td>
                        </tr>
                        <tr>
                            <td>Jefferson Castilho</td>
                            <td>infrastructure as code azure devops</td>
                        </tr>
                        <tr>
                            <td>Alexandro Prado</td>
                            <td>Azure Cycle Cloud</td>
                        </tr>
                        <tr>
                            <td>Carlos dos Santos</td>
                            <td>Docker no ambiente de desenvolvimento - por que usar?</td>
                        </tr>
                        <tr>
                            <td>Idevar Junior</td>
                            <td>Dynamics 365 Marketing: a tratativa do cliente como Indústria 4.0</td>
                        </tr>
                        <tr>
                            <td>Daniel Donda</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <h2><a id="user-content-semana-3--0405---0705" class="anchor" aria-hidden="true" href="#semana-3--0405---0705"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Semana 3 | 04/05 - 07/05</h2>
                <h3><a id="user-content-agenda-2" class="anchor" aria-hidden="true" href="#agenda-2"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Agenda</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19:30</td>
                            <td>Albert Tanure</td>
                            <td>Thiago Lunardi</td>
                            <td>Lucas Romão</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>20:30</td>
                            <td>Marcelo Adade</td>
                            <td>Arthur Luz</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <h3><a id="user-content-temas-2" class="anchor" aria-hidden="true" href="#temas-2"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
                        </svg></a>Temas</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Palestrante</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Thiago Lunardi</td>
                            <td>Build, Debug, Dockerize e Deploy K8s com novíssimo Microsoft Tye</td>
                        </tr>
                        <tr>
                            <td>Arthur Luz</td>
                            <td>Azure Databricks | An Unified Platform for Data Engineer and Data Science</td>
                        </tr>
                        <tr>
                            <td>Lucas Romao</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Marcelo Adade</td>
                            <td>SQL SERVER 2019: muito além do Big Data Clusters</td>
                        </tr>
                    </tbody>
                </table>
                </article> -->
            </div>
            <!-- {% for post in site.posts %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal"></a>
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.speaker }}</p>
                </div>
            </div>
            {% endfor %} -->
        </div>
    </div>
</section>