<!-- Portfolio Grid Section -->
<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Semana 2</h2>
                <h3 class="section-subheading text-muted">27/04 - 30/04</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19:30</td>
                            <td>Luis Beltran</td>
                            <td>Alessandro Trovato</td>
                            <td>Alexandro Prado</td>
                            <td>Daniel Donda</td>
                        </tr>
                        <tr>
                            <td>20:30</td>
                            <td>Rodrigo Crespi</td>
                            <td>Jefferson Castilho</td>
                            <td>Carlos dos Santos</td>
                            <td>Idevar Junior</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="service-heading">Temas</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Palestrante</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luis Beltran</td>
                            <td>Enriquecimiento con IA en Azure Cognitive Search</td>
                        </tr>
                        <tr>
                            <td>Rodrigo Crespi</td>
                            <td>Conteinerizando seu SQL Server</td>
                        </tr>
                        <tr>
                            <td>Alessandro Trovato</td>
                            <td>Matrizes dinâmicas, novas funções e seus equivalentes nas funções nativas</td>
                        </tr>
                        <tr>
                            <td>Jefferson Castilho</td>
                            <td>Infrastructure as code azure devops</td>
                        </tr>
                        <tr>
                            <td>Alexandro Prado</td>
                            <td>Azure Cycle Cloud</td>
                        </tr>
                        <tr>
                            <td>Carlos dos Santos</td>
                            <td>Docker no ambiente de desenvolvimento - por que usar?</td>
                        </tr>
                        <tr>
                            <td>Idevar Junior</td>
                            <td>Dynamics 365 Marketing: a tratativa do cliente como Indústria 4.0</td>
                        </tr>
                        <tr>
                            <td>Daniel Donda</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                </article>
            </div>
        </div>
    </div>
</section>