<!-- Sobre Section -->
<section id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre o MVP Week</h2>
                <h3 class="section-subheading text-muted">Sessões de segunda à quinta às 19h30 e 20h30.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Online</h4>
                <p class="text-muted">Evento totalmente online, para ser assistido da segurança de sua casa nesses
                    tempos de isolamento.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-video fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Ao Vivo</h4>
                <p class="text-muted">Palestras ministradas ao vivo e com acompanhamento para responderem suas dúvidas
                    em tempo real.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-microsoft fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Microsoft MVP</h4>
                <p class="text-muted">Organizado e entregue por experts em várias tecnologias reconhecidos pela
                    Microsoft.</p>
            </div>
        </div>
    </div>
</section>